h1 {color:red;font-family:Verdana;text-align: center;font-size: 50px;}
body {background-image: url(https://www.tapeciarnia.pl/tapety/normalne/172440_polska_flaga_godlo.jpg); background-position: top center; background-repeat: repeat;}
h3 {color:black;font-family:'Times New Roman';text-align: center;font-size: 40px;cursor: url('download.jpg'), pointer;}
